<a align="center" href="https://doesstuff.dev"><img src="./assets/banner.svg"></img></a>

<div align="center">
  <a href="https://doesstuff.dev/"><img src="./assets/buttons/website.svg"></a>
  <span class="spacing">&nbsp;&nbsp;<span>
  <a href="https://doesstuff.dev/s/youtube"><img src="./assets/buttons/youtube.svg"></a>
  <span class="spacing">&nbsp;&nbsp;</span>
  <a href="https://doesstuff.dev/s/instagram"><img src="./assets/buttons/instagram.svg"></a>
  <span class="spacing">&nbsp;&nbsp;<span>
  <a href="https://doesstuff.dev/s/twitter"><img src="./assets/buttons/twitter.svg"></a>
  <span class="spacing">&nbsp;&nbsp;</span>
  <a href="mailto:morgan@doesstuff.dev"><img src="./assets/buttons/email.svg"></a>
</div>

&nbsp;

# A Bit About Me.

I'm a {{age}} years old developer living in Wales, and I love computers. I have completed exams for and am waiting results for my GCSEs, including English, Maths, Double Science, Religious Studies, I.T., and more. Next year, I hope to study A-levels in Computer Science, Law and Psychology!

# My Current Setup

## [Hostname: Meteora](https://doesstuff.dev/s/github?repo=.dots&branch=main)

**Custom Build**

```json5
{
  operating_systems: [{{{Meteora__OSes}}}],
  cpu: "{{Meteora__CPU}}",
  gpu: "{{Meteora__GPU}}",
  memory: "{{Meteora__Memory}}",
  storage: [
    {{{Meteora__Storage}}}
  ],
}
```
