[![Banner](./assets/banner.svg)](https://doesstuff.dev)

<div align="center">
  <a href="https://doesstuff.dev/"><img src="./assets/buttons/website.svg"></a>
  <span class="spacing">&nbsp;&nbsp;</span>
  <a href="https://doesstuff.dev/s/discord"><img src="./assets/buttons/discord.svg"></a>
  <span class="spacing">&nbsp;&nbsp;<span>
  <a href="https://doesstuff.dev/s/youtube"><img src="./assets/buttons/youtube.svg"></a>
  <span class="spacing">&nbsp;&nbsp;<span>
  <a href="https://doesstuff.dev/s/twitter"><img src="./assets/buttons/twitter.svg"></a>
  <span class="spacing">&nbsp;&nbsp;</span>
  <a href="https://doesstuff.dev/s/instagram"><img src="./assets/buttons/instagram.svg"></a>
</div>

&nbsp;

# A Bit About Me.

```js
const me = {
  age = {{age}},
  lovesComputers = true, // So much
  programmingLanguages = [{{{programming_languages_array}}}],
  studying = {
    aLevels = [{{{a_levels_array}}}],
    gcse = [
      {{{gcse_array}}}
    ],
  },
  specs = {
    hostname__Meteora = {
      os = [{{{oses_array}}}],
      cpu = "{{cpu}}",
      gpu = "{{gpu}}",
      memory = "{{memory}}",
      storage = [
        {{{storage_array}}}
      ],
    }
  },

  unimportant = {
    favoriteArtists = [
      {{{favorite_artists_array}}}
    ]
  }
};
```

## ... or in Plain Text

- I am {{age}} years old.
- I love computers.
- I program in {{programming_languages}}.
- I have completed exams and are waiting results for GCSEs in {{gcse}}.
- I have received a conditional offer to study {{a_levels}} at A-Level.
- Some of my favorite artists are {{{favorite_artists}}}

### My Setup: Hostname Meteora

- **OS:** {{oses}}
- **CPU:** {{cpu}}
- **GPU:** {{gpu}}
- **RAM:** {{memory}}
- **Storage:** {{storage}}
