<p align="center"><i><b>He/Him</b> | <i><b>They/Them</b></i></p>

[![Banner](./assets/banner.svg)](https://{{website}})

<div align="center">
  <a href="https://{{website}}/"><img src="./assets/buttons/website.svg"></a>
  <span class="spacing">&nbsp;&nbsp;</span>
  <a href="https://{{website}}/s/discord"><img src="./assets/buttons/discord.svg"></a>
  <span class="spacing">&nbsp;&nbsp;<span>
  <a href="https://{{website}}/s/youtube"><img src="./assets/buttons/youtube.svg"></a>
  <span class="spacing">&nbsp;&nbsp;<span>
  <a href="https://{{website}}/s/twitter"><img src="./assets/buttons/twitter.svg"></a>
  <span class="spacing">&nbsp;&nbsp;</span>
  <a href="https://{{website}}/s/instagram"><img src="./assets/buttons/instagram.svg"></a>
</div>

&nbsp;

# A Bit About Me.

- I am {{age}} years old.
- {{alevel_status}} A-Levels in {{alevels}}
- {{gcses_status}} {{gcses}} at GCSE level.
- I really love computers
- My favourite artists are {{{favourite_artists}}}

[![Last.FM Stats](https://lastfm-recently-played.vercel.app/api?user=morgan_wj&loved=true&loved_style=3&width=830)](https://www.last.fm/user/morgan_wj)

# My Setup.

- **OS:** {{os}}
- **CPU:** {{cpu}}
- **GPU:** {{gpu}}
- **RAM:** {{ram}}
- **Storage:** {{storage}}
